.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 10px;

}
.immagine {
    margin: 10px;
    
}
body{
    background-color:  black;
}
h1 {
    color: white;
    
}